<h1>welcome to 	<span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers !!</h1>
<p>
	In Bookers,<br>

you can share and exchange your opinions , inpressions , and emotions<br>

about varioius books!
</p>

<%= link_to 'log in', new_user_session_path, class: "sign_in" %><br>
<%= link_to 'Sign up', new_user_registration_path, class: "sign_up" %>